include mixins
extends layout

block content
  div
    div
    +nav("","navbar")
      +nav_item( "/", "active" ) Home
      if authenticated
        +nav_item( "/manage" ) Manage DNS
        +nav_item( "/logout" ) Logout (#{userName})
      else
        +nav_item( "/login" ) Login
    .row
      div(class="col-xs-1 col-md-2") &nbsp;
      div(class="col-xs-10 col-md-8") 
        +panel("DNS Manager", "success") Welcome #{userName} to DNS Manager!
      div(class="col-xs-1 col-md-2") &nbsp;
