include mixins
extends layout

block content
  div
    div
    +nav("","navbar")
      +nav_item( "/" ) Home
      +nav_item( "login" ) Login
    .row
      div(class="col-xs-1 col-md-2") &nbsp;
      div(class="col-xs-10 col-md-8") 
        +panel("Unathorised", "danger") 
          p You're unathorised to view this page.
          p Please <a href="/login">login</a> to continue
      div(class="col-xs-1 col-md-2") &nbsp;
