include mixins
extends layout

block content
  div
    div
    +nav()
      +nav_item( "/" ) Home
      +nav_item( "login" ) Login
    .row
      div(class="col-xs-1 col-md-2") &nbsp;
      div(class="col-xs-10 col-md-8") 
        +panel("Unathorised", "danger") 
          p You're unathorised to view this page.
          p Please <a href="/login">login</a> to continue
      div(class="col-xs-1 col-md-2") &nbsp;
      
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
